@font-face {
    font-family: oblivionfont;
    src: url(assets/Font/oblivion-font.ttf);
}

*
{
    cursor: url('assets/GameMenu/cursor.png'), auto;
}

body
{
    overflow: hidden;
    margin: 0;
    user-select: none;
    font-family: 'oblivionfont';
    background-color: rgb(0, 0, 0);
    color: #c79900;
}

@keyframes animatezoom 
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@keyframes animatezoomout 
{
    from {transform: scale(1)} 
    to {transform: scale(0)}
}

.site_content
{
    margin: 0rem auto;
    width: 1966px;
}

/* .stage_number
{
    display: none;
} */

.game_content
{
    z-index: 0;
    width: inherit; 
} 

.game_window
{
    top: 0;
    margin-top: 0px;
    margin-left: 18vw;
    width: 82vw;
    height: 100vh;
}

.game_window:hover
{
    cursor: none;
}

.game_left_interface
{
    position: absolute;
    left: 0;
    top: 0;
    width: 18vw;
    height: 100vh;
    display: none;
}

.left_interface
{
    position: absolute;
    margin: 32.5vh 0.8vw;
    /* left: 0; */
    width: 315px;
    height: fit-content;
}
.left_interface_buttons
{
    width: 15.1vw;
    height: 56vh;
    margin-top: 7.2vh;
}

.xp_amount
{
    margin: 7vh 2vw;
    position: absolute;
    font-size: 1.5vw;
    color: green;
    text-shadow: 1px 1px 5px greenyellow;
    user-select: none;
}

.health_bar
{
    position: absolute;
    width: 15.4vw;
    user-select: none; 
}

.health_bar_amount
{
    color: #c79900;
    text-shadow: -0.05vh -0.05vh 0 #000, 0.05vh -0.05vh 0 #000, -0.05vh 0.05vh 0 #000, 0.05vh 0.05vh 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 15.3vw;
    height: 3vh;
    margin: 0vh 0vh 0vh 0vh;
    text-align: center;
    font-size: 3vh;
    opacity: 50%;
}

.mana_bar
{
    position: absolute;
    margin-top: 3.5vh;
    width: 15.4vw;
    user-select: none;
}

.mana_bar_amount
{
    color: #c79900;
    text-shadow: -0.05vh -0.05vh 0 #000, 0.05vh -0.05vh 0 #000, -0.05vh 0.05vh 0 #000, 0.05vh 0.05vh 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 15.3vw;
    height: 3vh;
    text-align: center;
    margin-top: 3.6vh;
    font-size: 3vh;
    opacity: 50%;
}

.health_potion
{
    width: 6vw;
    margin: 5vh 0px 0px 1.5vh;
    /* margin-left: 3vh; */
    /* margin: 1vh 1vh 0vh 1.5vh; */
}

.mana_potion
{
    width: 6vw;
    margin: 5vh 0px 0px 2vh;
}

.mana_potion:hover, .health_potion:hover
{
    filter: drop-shadow(0px 0px 10px #676767) brightness(1.2) contrast(1.1);
    transition-duration: 0.2s;
}

.selected_spell
{
    width: 9vw;
    margin: 6vh 0px 0px 4vh;
    opacity: 70%;
    display: none;
}

.skill_book
{
    position: absolute;
    bottom: 0;
    margin: 5vh 0px 1vh 0px;
    width: 6vw;
    z-index: 5;
}

.skill_book:hover
{
    filter: drop-shadow(0px 0px 10px #676767) brightness(1.2) contrast(1.1);
    transition-duration: 0.2s;
}

.blackout
{
    position: absolute;
    z-index: 6;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.skill_book_video
{
    position: absolute;
    z-index: 6;
    top: 4vh;
    width: 60vw;
    height: 90vh;
    margin: 0px 10vw 0vw 30vw;
    display: none;
    transition-duration: 0.5s;
}

.spell_buttons
{
    display: none;
}

.spell_button
{
    position: absolute;
    top: 0;
    z-index: 6;
    width: 6vw;
    height: 11vh;
    box-shadow: 0vw 0vw 1vw black;
} 

.spell_button_after
{
    position: absolute;
    top: 0;
    z-index: 6;
    width: 6vw;
    height: 11vh;
    box-shadow: 0vw 0vw 1vw black;
    background-color: green;
    background-blend-mode: multiply;
}

.spell_button:hover
{
    cursor: url('assets/GameMenu/cursorHover.png'), auto;
    transition-duration: 0.2s;
    box-shadow: 0rem 0px 25px #676767;
} 



.lightning_button
{
    margin: 20vh 10vw 0vw 63vw;
}

.lightning_button_label
{
    margin: 20vh 10vw 0vw 70vw;
    font-size: 2vh;
    width: 15vw;
    text-align: justify;
    color: #e6b000;
    text-shadow: 0.5vh 0.5vh 1vh black;
    z-index: 6;
    position: absolute;
    top: 0;
}

.blink_button
{
    margin: 20vh 10vw 0vw 34vw;
}

.blink_button_label
{
    margin: 20vh 10vw 0vw 41vw;
    font-size: 2vh;
    width: 15vw;
    text-align: justify;
    color: #e6b000;
    text-shadow: 0.5vh 0.5vh 1vh black;
    z-index: 6;
    position: absolute;
    top: 0;
}

.fear_button
{
    margin: 42vh 10vw 0vw 63vw;
}

.fear_button_label
{
    margin: 42vh 10vw 0vw 70vw;
    font-size: 2vh;
    width: 15vw;
    text-align: justify;
    color: #e6b000;
    text-shadow: 0.5vh 0.5vh 1vh black;
    z-index: 6;
    position: absolute;
    top: 0;
}

.fireball_button
{
    margin: 42vh 10vw 0vw 34vw;
}

.fireball_button_label
{
    margin: 42vh 10vw 0vw 41vw;
    font-size: 2vh;
    width: 15vw;
    text-align: justify;
    color: #e6b000;
    text-shadow: 0.5vh 0.5vh 1vh black;
    z-index: 6;
    position: absolute;
    top: 0;
}

.toxicbolt_button
{
    margin: 64vh 10vw 0vw 34vw;
}

.toxicbolt_button_label
{
    margin: 64vh 10vw 0vw 41vw;
    font-size: 2vh;
    width: 15vw;
    text-align: justify;
    color: #e6b000;
    text-shadow: 0.5vh 0.5vh 1vh black;
    z-index: 6;
    position: absolute;
    top: 0;
}



.game_menu_background
{
    width: 1969px;
    height: 1002px;
    z-index: 6;
    position: absolute;
    background: transparent;
}

.background_video
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    object-fit: fill;
}

.vignette
{
    /* margin: -3.5rem 0px;  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.click_anywhere_info
{
    position: absolute;
    margin: 34% 34%;
    color: #e0ac019a;
    user-select: none;
    /* outline: black 2px solid; */
    text-shadow: 0px 0px 30px black;
    font-size: 45;
    z-index: 6;
    transition-duration: 0.8s;
}

.click_anywhere_info:hover
{
    text-shadow: 0px 0px 20px black;
    color: #c79900;
}

.game_logo
{
    width: 670px;
    position: absolute;
    margin: 15% 32%;
    transition-duration: 0.8s;
}

.game_menu_frame
{
    width: 600px;
    height: 900px;
    /* top: 15rem; */
    /* height: 900px; */
    margin: -1000px 35%;
    transition: all 0.7s linear;
}

.game_menu_buttons_frame
{
    position: absolute;
    margin: 11.5rem 37%;
    height: 680px;
    width: 530px;
    /* border: 2px solid pink; */
}

.game_menu_button_quit, .game_menu_button_options, .game_menu_button_start
{
    width: 450px;
    margin: 7.5rem 8%;
    display: none;
}

.game_menu_button:hover
{
    cursor: url('assets/GameMenu/cursorHover.png'), auto;
    transition-duration: 0.2s;
    filter: drop-shadow(0px 0px 10px #676767) brightness(1.2) contrast(1.1);
}

.game_menu_button_return
{
    width: 450px;
    margin: 45% 7% 0px;
    display: none;
    transition-duration: 0.2s;
}

.options_section
{
    color: #c79900;
    margin: 3rem 2rem;
    display: none;
}

.options_row_title
{
    margin: 1rem 0rem 0rem 12rem;
    font-size: 18;
    word-spacing: 1.4rem;   
}

.options_row_text, .options_row_text_last
{
    font-size: 25;
    margin-right: 2.7rem;
}

.radio_button
{
    box-shadow: 0px 0px 15px #c79900;
    margin-right: 4.5rem;
    left: 5000px;
}

.radio_button:hover
{
    cursor: url('assets/GameMenu/cursorHover.png'), auto;
}

.options_section_title
{
    font-size: 45;
    margin: 5rem 35% 1rem;
}

.options_row_title_cheat
{
    margin: 1rem 0rem 0rem 14.5rem;
    font-size: 22;
    word-spacing: 2.9rem;   
}

.quit_section_credits
{
    color: #c79900;
    margin: 13rem 2.5rem -7rem;
    display: none;
}

.quit_title_created_by
{
    font-size: 50;
    text-align: center;
    margin-bottom: 1.5rem;
}

.quit_row, .quit_row_last
{
    font-size: 34;
    text-align: center;
    /* margin-left: 6.3rem; */
}

.quit_row_last
{
    margin-bottom: 20rem;
}

